<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% @student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name, placeholder: "Enter student name" %>
  </div>

  <div>
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
