<h1>Students</h1>

<%= link_to new_student_path, class: "add_btn" do %>
  <i class="fa-solid fa-plus"></i>
<% end %>

<table class="students_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td class="table_actions">
          <%= link_to student_path(student, title: "Visit Student", aria_label: "Visit Students") do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>

          <%= link_to edit_student_path(student), title: "Edit Student", aria_label: "Edit Student" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>

          <%= link_to student, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, title: "Delete Student", aria_label: "Delete Student" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @students.empty? %>
  <p>No students found. Add a new student to get started.</p>
<% end %>
