<%= form_with(model: @race, local: true) do |form| %>
  <% if @race.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@race.errors.count, "error") %> prohibited this race from being saved:</h2>
      <ul>
        <% @race.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <div class="form_field">
      <%= form.label :name, "Name:" %>
      <%= form.text_field :name, placeholder: "Enter race name"%>
    </div>

    <h3>Participants (Lane Assignments)</h3>
    <%= form.fields_for :race_participants do |rp_form| %>
      <div class="participant-row">
        <div class="form_field">
          <%= rp_form.label :student_id, "Student" %>
          <%= rp_form.collection_select :student_id, Student.all, :id, :name, prompt: "Select a Student" %>
        </div>

        <div class="form_field">
          <%= rp_form.label :lane, "Lane" %>
          <%= rp_form.number_field :lane %>
        </div>

        <div class="form_field">
          <%= rp_form.label :place, "Place" %>
          <%= rp_form.number_field :place %>
        </div>
      </div>

      <div class="remove-participant">
        <%= rp_form.check_box :_destroy %>
        <%= rp_form.label :_destroy, "Remove this participant" %>
      </div>

      <hr class="participant-row-divider">
    <% end %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to "Back to races", races_path, class: "back_to_races_form_btn" %>
  </div>
<% end %>
